.vs/
.vscode/
*.code-workspace
.idea/
bin/
obj/
*.nupkg
*.snupkg
*.symbols.nupkg
.nuget/
**/Thumbs.db
**/Desktop.ini
**/$RECYCLE.BIN/
*~.tmp
*~.TMP
~$*
*.bak
*.swp
*.orig
*.old
*~
*.userosscache
*.suo
*.sln.docstates
.vscode/
*.user
*.suo
*.log
*.tlog
*.rsuser
*.sln.docstates
*.pidb
*.pdb
*.localhistory
*.sln.docstates
*.ncrunchsolution
.ncrunchproject
*.ntvs_analysis.dat
node_modules/
npm-debug.log*
project.lock.json
project.fragment.lock.json
artifacts/